# Java build output
Backend/Eurowise-rest-api-code/target/

# Node dependencies and build
Frontend/Expends/expenditure-app/node_modules/
Frontend/Expends/expenditure-app/build/

# macOS
**/.DS_Store

# IDE
**/.idea/
**/*.iml

# Local docs (personal notes)
docs/
.DS_Sotre
.DS_Store
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform
k8s/monitoring/alertmanager/secret.yaml
k8s/monitoring/grafana/secret.yaml
